ALTER TABLE registrations ADD COLUMN business_name VARCHAR(100) AFTER last_name, ADD COLUMN business_website VARCHAR(255) AFTER business_name, ADD COLUMN business_phone VARCHAR(20) AFTER business_website, ADD COLUMN business_address TEXT AFTER business_phone, ADD COLUMN years_in_business INT AFTER business_address, ADD COLUMN current_booking_platforms JSON AFTER years_in_business, ADD COLUMN monthly_guests INT AFTER current_booking_platforms, ADD COLUMN average_nightly_rate DECIMAL(10,2) AFTER monthly_guests, ADD COLUMN marketing_budget DECIMAL(10,2) AFTER average_nightly_rate, ADD COLUMN current_challenges TEXT AFTER marketing_budget, ADD COLUMN expected_launch_date DATE AFTER current_challenges, ADD COLUMN referral_source_details TEXT AFTER expected_launch_date, ADD COLUMN additional_notes TEXT AFTER referral_source_details, ADD COLUMN marketing_goals JSON AFTER additional_notes, ADD COLUMN preferred_contact_method ENUM('email', 'phone', 'sms') DEFAULT 'email' AFTER marketing_goals, ADD COLUMN timezone VARCHAR(50) AFTER preferred_contact_method, ADD COLUMN language_preference VARCHAR(10) DEFAULT 'en' AFTER timezone, ADD COLUMN newsletter_subscription BOOLEAN DEFAULT TRUE AFTER language_preference, ADD COLUMN marketing_consent BOOLEAN DEFAULT FALSE AFTER newsletter_subscription, ADD COLUMN gdpr_consent BOOLEAN DEFAULT FALSE AFTER marketing_consent;
